MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=order_playground
MYSQL_USER=order_app
MYSQL_PASSWORD=order_pass
MYSQL_PORT=3306

MONGO_INITDB_ROOT_USERNAME=mongoadmin
MONGO_INITDB_ROOT_PASSWORD=mongopass
MONGO_PORT=27017
MONGO_DATABASE=order_playground

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=8081
KEYCLOAK_REALM=order-playground
KEYCLOAK_CLIENT_ID=gateway-api
KEYCLOAK_CLIENT_SECRET=change-me-in-real-env

TEMPORAL_ADDRESS=temporal:7233
TEMPORAL_UI_PORT=8088
TEMPORAL_POSTGRES_PASSWORD=temporal

GATEWAY_PORT=8080
INVENTORY_GRPC_PORT=9091
NOTIFIER_GRPC_PORT=9092

